.container {
    display: flex;
    flex-direction: column;
}
.content {
    text-align: center;
}
.signature{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
        font-size: small;
    }
}
.shapeDivider {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.shapeDivider svg {
    position: relative;
    display: block;
    width: calc(192% + 1.3px);
    height: 41px;
}
// /** For mobile devices **/
// @media (max-width: 767px) {
//     .shapeDivider svg {
//         width: calc(170% + 1.3px);
//         height: 35px;
//     }
// }