@use '../../base/fonts' as *;

.brand {
  font-family: $decoration-font;
  font-size:xx-large;
  // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item {
  text-shadow: 0px 0px 4px rgba(29, 29, 29, 1);
}

.icons {
  width: 23px;
  height: 23px;
  // opacity: 0.8;
}
.cartIconDesktop {
  width: 25px;
  height: 25px;
}
.mobileIcons {
  width: 25px;
  height: 25px;
  opacity: 0.8;
}
.darkBack{
  position: fixed;
  z-index:100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.418);
}
.centerElement{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hover{
  opacity: 0.8;
  &:hover{
    opacity:1;
  }
}
