.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    min-height: 100vh;
}

.backButton {
    position:fixed;
    top: 1.75rem;
    left: 1.75rem;
    opacity: 0.75;
}
.backButton:hover {
    opacity: 1;
}

