.japanBackLight {
    background-image: url("../../public/img/about/japan-light.png");
    background-repeat: no-repeat;
    background-size: cover;
}

// .titleBackLight {
//     background-image: radial-gradient( farthest-side, transparent, #FCFCFB 30%), url("../../public/img/about/sth.png");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: 300px auto;
// }
// .titleBackDark {
//     background-image: radial-gradient(ellipse at bottom, transparent, #11061A 50%), url("../../public/img/about/sth2.png");
//     background-repeat: no-repeat;
//     // background-size: cover;
//     background-position: center;
//     background-size: 300px auto;
// }