.sortItem {
    border: 1px solid rgba(133, 133, 133, 0.389);
}
.optionsBar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.optionsBar::-webkit-scrollbar {
    display: none;  /* for IE, Edge and Firefox */
  }