@use "./variables" as *;
@use "sass:map";

// Menage Themes
@mixin themeSwitcher($theme) {
$backgroundColor: map-get(map-get($themes, '#{$theme}'), 'color-background');
$primaryColor: map-get(map-get($themes, '#{$theme}'), 'color-primary');
$secondaryColor: $color-secondary;

background-color: $backgroundColor;

  .background {
    background-color: $backgroundColor;
  }
  .backgroundFooter{
    // background:linear-gradient(60deg, $backgroundColor 0%, $secondaryColor 100%);
    background-image: map-get(map-get($themes, '#{$theme}'), 'landing-back-image');
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .landingBack {
    background-image: map-get(map-get($themes, '#{$theme}'), 'landing-back-image');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .svgDividerColorFill {
    fill: $backgroundColor;
  }
  .color-primary {
    color: $primaryColor;
  }
  .color-secondary {
    color: $secondaryColor;
  }
  .color-background {
    color: $backgroundColor;
  }
}
