.DropSection {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgba(198, 198, 198, 0.426);
  }
}

.DropSectionLoaded {
  display: flex;
  justify-content: right;
  align-items: top;

  &:hover {
    background-color: rgba(120, 120, 120, 0.253);

    .pSelect {
      opacity: 1;
    }
  }

  .pSelect {
    opacity: 0;
  }
  p{
    background-color: rgba(18, 18, 18, 0.758);
  }

}