.DropSection {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: rgba(120, 120, 120, 0.253);
  }
}

.DropSectionLoaded {
  display: flex;
  justify-content: right;
  align-items: top;
  &:hover{
    background-color: rgba(120, 120, 120, 0.253);
  }
}