.pointer {
  cursor: pointer;
}
.zoom {
  transition: transform 0.1s;
}
.zoom:hover {
  transform: scale(1.3);
}
.iconSizeAlert {
  transform: scale(1.2);
}

.Hover{
  opacity: 0.6;
  &:hover{
    opacity:1;
  }
}
